/* Acessa todos os elementos
   Remove todas as margens e paddings
   Calcula automaticamente as larguras considerando: conteúdo, bordas, margens e paddings */
   * {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Inclui bordas e paddings no cálculo da largura e altura dos elementos */
}

/* Acessa o elemento root e cria variáveis globais para cores */
:root {
    --primaria: #915f32; /* Cor primária */
    --secundaria: #ce9056; /* Cor secundária */
    --terciaria: #e1e6eb; /* Cor terciária */
    --branco: white; /* Cor branca */
    --preto: black; /* Cor preta */
}

/* Seleciona o header e o footer
   Adiciona cor de fundo e espaçamento interno */
header,
footer {
    background-color: var(--primaria); /* Cor de fundo usando variável */
    padding: 1rem; /* Espaçamento interno */
}

header {
    font-size: 20px; /* Tamanho da fonte no header */
}

/* Seleciona o nav
   Adiciona cor de fundo
   Muda o display para grid
   Cria uma grade de 5 colunas de larguras iguais
   Alinha o texto no centro das colunas
   Adiciona espaçamento interno e entre colunas/linhas do grid */
nav {
    background-color: var(--secundaria); /* Cor de fundo usando variável */
    display: grid; /* Configura o display como grid */
    grid-template-columns: repeat(5, 1fr); /* 5 colunas de largura igual */
    text-align: center; /* Alinha o texto no centro das colunas */
    padding: 0.30rem; /* Espaçamento interno */
    /* gap: 0.5rem; */ /* Espaçamento entre colunas e linhas (comentado) */
    align-items: center; /* Alinha os itens no centro verticalmente */
    position: relative; /* Posiciona o nav relativamente ao seu contêiner */
 
}

nav a {
    text-decoration: none; /* Remove o sublinhado dos links */
    color: var(--preto); /* Cor do texto usando variável */
    cursor: pointer; /* Muda o cursor para uma mãozinha ao passar sobre o link */
}

.nav-links {
    display: none; /* Oculta o menu de links por padrão */
    list-style: none; /* Remove a marcação de lista */
    padding: 0; /* Remove o padding */
    margin: 0; /* Remove a margem */
    position: absolute; /* Posiciona o menu de links absolutamente ao pai */
    top: 40px; /* Distância do topo (ajustável) */
    right: 10px; /* Distância da direita (ajustável) */
    background-color: #333; /* Cor de fundo do menu */
    border-radius: 5px; /* Bordas arredondadas */
    width: 200px; /* Largura do menu (ajustável) */
}

.nav-links li {
    margin: 0; /* Remove a margem dos itens da lista */
}

.nav-links a {
    color: #fff; /* Cor do texto dos links */
    text-decoration: none; /* Remove o sublinhado dos links */
    padding: 8px; /* Espaçamento interno dos links */
    display: block; /* Faz os links ocuparem toda a largura dos itens da lista */
}

.nav-links a:hover {
    background-color: #575757; /* Cor de fundo ao passar o mouse sobre o link */
}

.hamburguer {
    background: none; /* Remove o fundo do botão hamburguer */
    border: none; /* Remove a borda do botão */
    cursor: pointer; /* Muda o cursor para uma mãozinha ao passar sobre o botão */
    display: flex; /* Configura o display como flex */
    flex-direction: column; /* Organiza os itens em coluna */
    justify-content: center; /* Alinha os itens verticalmente ao centro */
    align-items: center; /* Alinha os itens horizontalmente ao centro */
    width: 40px; /* Largura do botão */
    height: 40px; /* Altura do botão */
    position: absolute; /* Posiciona o botão absolutamente ao pai */
    right: 10px; /* Distância da direita */
}

.hamburguer span {
    background: #000; /* Cor de fundo das linhas do botão */
    height: 4px; /* Altura das linhas */
    width: 15px; /* Largura das linhas */
    margin: 2px 0; /* Espaçamento vertical entre as linhas */
    transition: all 0.3s; /* Transição suave para todas as propriedades */
}

.hamburguer.active span:nth-child(1) {
    transform: rotate(45deg); /* Rotaciona a primeira linha em 45 graus quando ativo */
    margin: 0; /* Remove o espaçamento vertical */
}

.hamburguer.active span:nth-child(2) {
    opacity: 0; /* Torna a segunda linha invisível quando ativo */
}

.hamburguer.active span:nth-child(3) {
    transform: rotate(-45deg); /* Rotaciona a terceira linha em -45 graus quando ativo */
    margin: 0; /* Remove o espaçamento vertical */
}

.nav-links.active {
    display: block; /* Exibe o menu de links quando ativo */
}

/* Qualquer item com essa classe
   Muda o display para flex
   Coloca o espaço horizontal no meio dos elementos
   Alinha os itens verticalmente com base no centro */
.logo-busca {
    display: flex; /* Configura o display como flex */
    justify-content: space-between; /* Espaça os itens horizontalmente */
    align-items: center; /* Alinha os itens verticalmente ao centro */
}

body {
    display: flex; /* Configura o display como flex */
    flex-direction: column; /* Organiza os itens na coluna */
    min-height: 100vh; /* Garante que o corpo ocupe pelo menos a altura da viewport */
}

main {
    flex-grow: 1; /* Faz o main crescer para ocupar o espaço restante */
    background-color: var(--terciaria); /* Cor de fundo usando variável */
}

#index {
    display: flex; /* Configura o display como flex */
    justify-content: center; /* Alinha o conteúdo horizontalmente ao centro */
    align-items: center; /* Alinha o conteúdo verticalmente ao centro */
}

.favorito2 {
    width: 20px; /* Largura do ícone */
    height: 20px; /* Altura do ícone */
    cursor: pointer; /* Muda o cursor para uma mãozinha ao passar sobre o ícone */
}

.livros_conteiner {
    display: flex; /* Configura o display como flex */
    flex-wrap: wrap; /* Permite que os itens quebrem para a linha seguinte */
    justify-content: center; /* Alinha os itens horizontalmente ao centro */
}

/* Estilos para a seção de favoritos */
#favoritos .conteiner2 {
    display: inline-block; /* Exibe o contêiner como um bloco em linha */
    margin: 10px; /* Margem ao redor do contêiner */
    padding: 10px; /* Espaçamento interno */
    border: 1px solid #ccc; /* Borda ao redor do contêiner */
    cursor: pointer; /* Muda o cursor para uma mãozinha ao passar sobre o contêiner */
    transition: background-color 0.3s ease; /* Transição suave para a cor de fundo */
}

#favoritos .conteiner2:hover {
    background-color: var(--secundaria); /* Cor de fundo ao passar o mouse sobre o contêiner */
}

.exp_livro {
    display: flex; /* Configura o display como flex */
    justify-content: center; /* Alinha o conteúdo horizontalmente ao centro */
    align-items: center; /* Alinha o conteúdo verticalmente ao centro */
}

.livros_conteiner2 {
    border: none; /* Remove a borda do contêiner */
    background-color: var(--secundaria); /* Cor de fundo usando variável */
    width: 100%; /* Largura completa do contêiner pai */
    max-width: 950px; /* Largura máxima */
    height: auto; /* Altura automática para se ajustar ao conteúdo */
    margin-top: 5px; /* Margem superior */
    justify-content: center; /* Alinha o conteúdo horizontalmente ao centro */
}

.lado {
    display: flex; /* Configura o display como flex */
    justify-content: space-around; /* Espaça os itens horizontalmente */
}

.livro {
    width: 200px; /* Largura do item do livro */
    margin: 20px; /* Margem ao redor do item do livro */
    text-align: center; /* Alinha o texto ao centro */
}

.capa {
    width: 150px; /* Largura da capa do livro */
    height: 200px; /* Altura da capa do livro */
    object-fit: cover; /* Ajusta a imagem para cobrir o elemento sem distorcer */
}

.titulo {
    font-size: 18px; /* Tamanho da fonte do título */
    margin-top: 10px; /* Margem superior ao título */
}

footer {
    display: grid; /* Configura o display como grid */
    grid-template-columns: repeat(3, 1fr); /* 3 colunas de largura igual */
    color: var(--terciaria); /* Cor do texto usando variável */
    text-align: center; /* Alinha o texto ao centro */
}

#copy {
    text-align: start; /* Alinha o texto à esquerda */
}

#alinhar {
    display: flex; /* Configura o display como flex */
    align-items: center; /* Alinha os itens verticalmente ao centro */
}

.img-fim {
    display: flex; /* Configura o display como flex */
    justify-content: end; /* Alinha o conteúdo horizontalmente ao final */
}

.img-fim img {
    margin: 0 1rem; /* Margem horizontal ao redor das imagens */
}

/* Main de quem somos
   Organiza em cima a baixo
   Centraliza o texto
   Centraliza todo o quadrado
   Alinha no centro
   Dá espaço entre eles */
.quem_somos {
    display: flex; /* Configura o display como flex */
    flex-direction: column; /* Organiza os itens na coluna */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    text-align: center; /* Alinha o texto ao centro */
    padding: 100px; /* Espaçamento interno */
}

#quem_somos {
    font-size: 30px; /* Tamanho da fonte do título */
}

/* Cor de fundo
   Tamanho da caixa
   Margem para baixo */
.box_quemsomos {
    background-color: var(--primaria); /* Cor de fundo usando variável */
    width: 200px; /* Largura da caixa */
    margin-bottom: 40px; /* Margem inferior */
}

/* Organiza em coluna
   Centraliza o texto
   Centraliza os itens
   Tamanho da fonte */
#contato {
    padding: 20px; /* Espaçamento interno */
    display: flex; /* Configura o display como flex */
    flex-direction: column; /* Organiza os itens na coluna */
    justify-content: center; /* Alinha os itens verticalmente ao centro */
    align-items: center; /* Alinha os itens horizontalmente ao centro */
    font-size: 30px; /* Tamanho da fonte */
}

#paragrafo {
    padding: 20px; /* Espaçamento interno */
}

/* Cor de fundo
   Tamanho e largura da caixa width e height
   Alinha o texto no centro
   Arredonda a borda da caixa
   Organiza em coluna
   Centraliza os itens na vertical
   Centraliza os itens na horizontal */
.box_usuario {
    background-color: var(--secundaria); /* Cor de fundo usando variável */
    width: 350px; /* Largura da caixa */
    height: 300px; /* Altura da caixa */
    text-align: center; /* Alinha o texto ao centro */
    border-radius: 70px; /* Bordas arredondadas */
    display: flex; /* Configura o display como flex */
    flex-direction: column; /* Organiza os itens na coluna */
    align-items: center; /* Alinha os itens horizontalmente ao centro */
    justify-content: center; /* Alinha os itens verticalmente ao centro */
}

/* Input para digitar email
   Tamanho da caixa
   Preenchimento de dentro da caixa
   Tamanho da fonte (letras)
   Borda em volta da caixa
   Arredonda a borda da caixa */
input[type="email"] {
    width: calc(100% - 20px); /* Largura total menos o padding */
    padding: 4px; /* Preenchimento interno */
    font-size: 15px; /* Tamanho da fonte */
    border: 2px solid #000; /* Borda ao redor da caixa */
    border-radius: 4px; /* Bordas arredondadas */
}

/* Input para digitar senha
   Tamanho da caixa
   Preenchimento de dentro da caixa
   Tamanho da fonte (letras)
   Borda em volta da caixa
   Arredonda a borda da caixa */
input[type="password"] {
    width: calc(100% - 20px); /* Largura total menos o padding */
    padding: 4px; /* Preenchimento interno */
    font-size: 15px; /* Tamanho da fonte */
    border: 2px solid #000; /* Borda ao redor da caixa */
    border-radius: 4px; /* Bordas arredondadas */
}

/* Label texto acima da caixa se senha e login
   Distância da caixa */
label {
    display: block; /* Exibe o label como um bloco */
    margin-bottom: 8px; /* Margem inferior */
    font-size: 15px; /* Tamanho da fonte */
}

/* Classe usuario main
   Alinha os itens ao centro
   Centraliza todo o item */
.usuario {
    display: flex; /* Configura o display como flex */
    justify-content: center; /* Alinha os itens horizontalmente ao centro */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    flex-direction: column; /* Organiza os itens na coluna */
}

/* Botão de entrar
   Tamanho e largura
   Cor de fundo
   Cor preta
   Borda do botão
   Cursor para ficar uma mão no lugar da seta */
button {
    width: 30%; /* Largura do botão */
    padding: 10px; /* Preenchimento interno */
    margin-top: 10px; /* Margem superior */
    background-color: var(--primaria); /* Cor de fundo usando variável */
    color: #000; /* Cor do texto */
    border: none; /* Remove a borda */
    cursor: pointer; /* Muda o cursor para uma mãozinha ao passar sobre o botão */
}

button:houver {
    background-color: var(--primaria); /* Cor de fundo ao passar o mouse sobre o botão (correta: deve ser `button:hover`) */
}

button:focus {
    outline: none; /* Remove o contorno ao focar no botão */
}

/* Container de favoritos */
.container {
    max-width: 1200px; /* Largura máxima do container */
    margin: 0 auto; /* Centraliza o container horizontalmente */
    padding: 20px; /* Espaçamento interno */
    margin-bottom: 500px; /* Margem inferior */
}

.container3 {
    width: 1200px; /* Largura do container */
    height: 750px; /* Altura do container */
    margin: 50px; /* Margem ao redor do container */
    box-sizing: border-box; /* Inclui bordas e preenchimento no cálculo da largura */
    background-color: var(--secundaria); /* Cor de fundo usando variável */
    border-radius: 50px; /* Bordas arredondadas */
    display: flex; /* Configura o display como flex */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    justify-content: center; /* Alinha os itens horizontalmente ao centro */
}

/* Altura e largura do formulário de foto */
#foto {
    width: 140px; /* Largura da foto */
    height: 120px; /* Altura da foto */
    object-fit: cover; /* Ajusta a imagem para cobrir o elemento sem distorcer */
    overflow: hidden; /* Oculta o excesso de imagem fora da área */
}

/* Main da página de cadastro
   Alinha todos os itens ao centro horizontal e vertical */
.cadastro {
    display: flex; /* Configura o display como flex */
    justify-content: center; /* Alinha os itens horizontalmente ao centro */
    align-items: center; /* Alinha os itens verticalmente ao centro */
}

/* Container do cadastro
   Cor de fundo
   Altura e largura
   Borda arredondada
   Alinha os itens em coluna
   Alinha os itens no centro vertical */
.box_cadastro {
    background-color: var(--secundaria); /* Cor de fundo usando variável */
    width: 350px; /* Largura do container */
    height: 400px; /* Altura do container */
    border-radius: 50px; /* Bordas arredondadas */
    display: flex; /* Configura o display como flex */
    flex-direction: column; /* Organiza os itens na coluna */
    align-items: center; /* Alinha os itens horizontalmente ao centro */
}

/* Input foto */
input[type="file"] {
    width: calc(100% - 20px); /* Largura total menos o padding */
    padding: 4px; /* Preenchimento interno */
    font-size: 15px; /* Tamanho da fonte */
    border: 2px solid #000; /* Borda ao redor da caixa */
    border-radius: 10px; /* Bordas arredondadas */
}

/* Input nome */
input[type="text"] {
    width: calc(100% - 20px); /* Largura total menos o padding */
    padding: 4px; /* Preenchimento interno */
    font-size: 15px; /* Tamanho da fonte */
    border: 2px solid #000; /* Borda ao redor da caixa */
    border-radius: 4px; /* Bordas arredondadas */
}

/* Main da página perfil */
.perfil {
    display: flex; /* Configura o display como flex */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    justify-content: center; /* Alinha os itens horizontalmente ao centro */
}

/* Input foto da página perfil */
#foto_de_perfil {
    width: 140px; /* Largura da foto */
    height: 120px; /* Altura da foto */
    object-fit: cover; /* Ajusta a imagem para cobrir o elemento sem distorcer */
    overflow: hidden; /* Oculta o excesso de imagem fora da área */
}

/* Input imagem da página adicionar livro */
#adicionar_imagem {
    width: 140px; /* Largura da imagem */
    height: 120px; /* Altura da imagem */
    object-fit: cover; /* Ajusta a imagem para cobrir o elemento sem distorcer */
    overflow: hidden; /* Oculta o excesso de imagem fora da área */
}

/* Container da página perfil */
.container_perfil {
    width: 400px; /* Largura do container */
    height: 600px; /* Altura do container */
    margin: 20px; /* Margem ao redor do container */
    background-color: var(--secundaria); /* Cor de fundo usando variável */
    padding: 15px; /* Espaçamento interno */
}

/* Input de contato */
input[type="tel"] {
    width: calc(100% - 20px); /* Largura total menos o padding */
    padding: 4px; /* Preenchimento interno */
    font-size: 15px; /* Tamanho da fonte */
    border: 2px solid #000; /* Borda ao redor da caixa */
    border-radius: 4px; /* Bordas arredondadas */
}

/* Gerenciar categorias
   Organiza os itens ao centro horizontal e vertical */
.gerenciar_categorias {
    display: flex; /* Configura o display como flex */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    justify-content: center; /* Alinha os itens horizontalmente ao centro */
}

/* Categorias
   Cor de fundo
   Largura e altura
   Organiza os itens em coluna */
.categorias {
    background-color: var(--secundaria); /* Cor de fundo usando variável */
    width: 500px; /* Largura do container */
    height: 500px; /* Altura do container */
    display: flex; /* Configura o display como flex */
    flex-direction: column; /* Organiza os itens na coluna */
    align-items: center; /* Alinha os itens horizontalmente ao centro */
}

/* Box
   Cor de fundo
   Largura e altura
   Margem inferior
   Organiza os itens */
.box {
    background-color: #915f32; /* Cor de fundo */
    width: 500px; /* Largura do box */
    height: 50px; /* Altura do box */
    margin-bottom: 20px; /* Margem inferior */
    display: flex; /* Configura o display como flex */
    justify-content: space-around; /* Distribui os itens com espaço ao redor */
    align-items: center; /* Alinha os itens verticalmente ao centro */
}

/* Categorias 2
   Borda
   Largura e altura
   Margem inferior
   Organiza os itens */
.categorias2 {
    border: 2px solid #000; /* Borda ao redor do box */
    width: 350px; /* Largura do box */
    height: 70px; /* Altura do box */
    margin-bottom: 10px; /* Margem inferior */
    display: flex; /* Configura o display como flex */
    justify-content: space-evenly; /* Distribui os itens igualmente */
    align-items: center; /* Alinha os itens verticalmente ao centro */
}

/* Adicionar categorias
   Configura o box-sizing */
.adicionar_categorias {
    box-sizing: border-box; /* Inclui borda e preenchimento no cálculo da largura */
}

/* Ad categorias
   Cor de fundo
   Largura e altura
   Alinha o texto ao centro */
.ad_categorias {
    background-color: var(--secundaria); /* Cor de fundo usando variável */
    width: 500px; /* Largura do container */
    height: 400px; /* Altura do container */
    text-align: center; /* Alinha o texto ao centro */
}

/* Gerenciar livros 2
   Cor de fundo
   Largura e altura
   Alinha o texto ao centro */
.gerenciar_livros2 {
    background-color: var(--secundaria); /* Cor de fundo usando variável */
    width: 500px; /* Largura do container */
    height: 270px; /* Altura do container */
    text-align: center; /* Alinha o texto ao centro */
}

/* Ad livros
   Cor de fundo
   Largura e altura
   Alinha o texto ao centro
   Margem */
.ad_livros {
    background-color: var(--secundaria); /* Cor de fundo usando variável */
    width: 500px; /* Largura do container */
    height: 700px; /* Altura do container */
    text-align: center; /* Alinha o texto ao centro */
    margin: 15px; /* Margem ao redor do container */
}

/* Adicionar livros
   Configura o display como flex
   Alinha os itens ao centro */
#adicionar_livros {
    display: flex; /* Configura o display como flex */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    justify-content: center; /* Alinha os itens horizontalmente ao centro */
}

/* Adicionar imagem
   Largura e altura
   Ajusta a imagem para cobrir o elemento sem distorcer */
#adicionar_imagem {
    width: 140px; /* Largura da imagem */
    height: 120px; /* Altura da imagem */
    object-fit: cover; /* Ajusta a imagem para cobrir o elemento sem distorcer */
    overflow: hidden; /* Oculta o excesso de imagem fora da área */
}

/* Estilos responsivos para telas menores */
@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden; /* Impede a rolagem horizontal */
    }

    header {
        padding: 10px; /* Adiciona espaçamento interno ao header */
    }

    nav {
        overflow-x: auto; /* Permite rolagem horizontal no nav se necessário */
        white-space: nowrap; /* Impede a quebra de linha dos links */
    }

    .container {
        width: 50%; /* Largura percentual para ajuste à tela */
        max-width: 100%; /* Garante que não exceda a largura da tela */
        margin: 10px auto; /* Centraliza o container e adiciona espaço nas margens */
        padding: 15px; /* Espaçamento interno */
        background-color: var(--secundaria); /* Cor de fundo usando variável */
        border-radius: 20px; /* Bordas arredondadas */
    }

    .conteiner2 {
        width: 80%; /* Largura percentual para ajuste à tela */
        height: auto; /* Altura automática para ajuste ao conteúdo */
        margin-bottom: 5px; /* Margem inferior */
        border: 1px solid #000; /* Borda ao redor da caixa */
        text-align: center; /* Alinha o texto ao centro */
        padding: 8px; /* Espaçamento interno */
    }

    .container3 {
        width: 80%; /* Largura percentual para ajuste à tela */
        max-width: 100%; /* Garante que não exceda a largura da tela */
        margin: 5px auto; /* Centraliza o container e adiciona espaço nas margens */
        padding: 10px; /* Espaçamento interno */
        background-color: var(--secundaria); /* Cor de fundo usando variável */
        border-radius: 20px; /* Bordas arredondadas */
        text-align: center; /* Alinha o texto ao centro */
    }

    footer {
        padding: 10px; /* Espaçamento interno ao footer */
        text-align: center; /* Alinha o texto ao centro */
    }

    .box_cadastro {
        height: 125vw; /* Altura ajustada para tela menor */
        width: 80vw; /* Largura ajustada para tela menor */
        border-radius: 8vw; /* Bordas arredondadas ajustadas para tela menor */
    }

    .categorias {
        width: 70vw; /* Largura ajustada para tela menor */
        height: 100vw; /* Altura ajustada para tela menor */
    }

    .gerenciar_categorias {
        padding: 0; /* Remove o padding */
        margin: 0; /* Remove a margem */
    }

    .categorias2 {
        width: 45vw; /* Largura ajustada para tela menor */
        height: 150vw; /* Altura ajustada para tela menor */
    }

    .box {
        width: 70vw; /* Largura ajustada para tela menor */
    }

    .gerenciar_livros2 {
        width: 70vw; /* Largura ajustada para tela menor */
    }

    .adicionar_categorias {
        margin: 0; /* Remove a margem */
        padding: 0; /* Remove o padding */
    }

    .ad_livros {
        width: 70vw; /* Largura ajustada para tela menor */
    }

    textarea {
        width: calc(100% - 20px); /* Largura total menos o padding */
    }
}
