<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Estante Web</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../imgs/favicon.icon.jpg" type="image/x-icon">

</head>

<body>
    <header>
        <div class="logo-busca">
            <h1>Estante Web</h1>

            <form action="">
                <input type="search" name="busca" id="busca">
            </form>

        </div>

    </header>
    <nav>
        <a href="../index.html">inicio</a>
        <a href="quem_somos.html">Quem somos</a>
        <a href="contato.html">Contato</a>
        <a href="favoritos.html" class="alinhar">
            <img src="../imgs/star.png.png" alt="" width="20px" height="20px">
            Favoritos
        </a>
        <a href="login.html">Login</a>
    </nav>

    <main class="adicionar_categorias">

        <div class="ad_livros">
            <h2 class="box">Adicionar Livro <img src="../imgs/config.svg" alt="" width="40px" height="40px"></h2>

            <form action="">
                <div>
                    <label for="adicionar_imagem"></label>
                    <input type="file" name="adicionar_imagem" id="adicionar_imagem" accept="image/*">
                </div>

                <div>
                    <label for="adicionar titulo"></label>
                    <input type="text" name="adicionar titulo" id="adicionar titulo" value="" placeholder="Digite o Titulo">

                    <label for="adicionar autor"></label>
                    <input type="text" name="adicionar autor" id="adicionar autor" value="" placeholder="Digite o Autor">

                    <label for="adicionar categoria"></label>
                    <input type="text" name="adicionar categoria" id="adicionar categoria" value="" placeholder="Digite a Categoria">

                    <label for="sinopse"></label>
                    <textarea name="sinopse" id="sinopse" cols="58" rows="10"></textarea placeholder="Digite a Sinopse ">
                </div>

                <div ><button type="submit" value="Salvar">Salvar</button></div>
                <div ><button type="submit" value="Apagar">Apagar</button></div>
            </form>
        </div>
    </main>
    <footer>
        <div id="copy">
            &copy; Estante web
        </div>
        <div>
            todos os direitos reservados
        </div>
        <div>
            <img src="../imgs/facebook.svg" alt="" width="30px" height="30px">
            <img src="../imgs/instagram.svg" alt="" width="30px" height="30px">
        </div>

    </footer>

</body>

</html>