<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Estante Web</title>
    <link rel="stylesheet" href="../css/style.css">

</head>

<body>
    <header>
        <div class="logo-busca">
            <h1>Estante Web</h1>

            <form action="">
                <input type="search" name="busca" id="busca">
            </form>

        </div>

    </header>
    <nav>
        <a href="../index.html">inicio</a>
        <a href="quem_somos.html">Quem somos</a>
        <a href="contato.html">Contato</a>
        <a href="favoritos.html" class="alinhar">
            <img src="../imgs/star.png.png" alt=""width="20px" height="20px">
            Favoritos
        </a>
        <a href="login.html">Login</a>
    </nav>

    <main class="cadastro">
      <div class="box_cadastro">

        <h1>Crie sua conta</h1>

        <form>

        <div>
            <label for="foto">Foto de Perfil</label>
            <input type="file" name="foto" id="foto" accept="image/*">
        </div>
        <div>
            <label for="nome">Nome</label>
            <input type="text" name="nome" id="nome" placeholder="Seu nome..." required>

        </div>
      <div> <label for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="Seu email..." required></div> 
        
        <div>
        <label for="senha">Senha</label>
        <input type="password" name="senha" id="senha" placeholder="Crie uma senha..." required></div> 

       
        <button type="submit" value="Entrar">Criar</button>
       
       
        
   
    </form>

    </div>
        <!-- <div class="box2">Ainda não é cadastrado?
            Crie sua conta
            </div> -->


    </main>
    <footer>
        <div id="copy">
            &copy; Estante web
        </div>
        <div>
            todos os direitos reservados
        </div>
        <div>
            <img src="../imgs/facebook.svg" alt="" width="30px" height="30px">
            <img src="../imgs/instagram.svg" alt=""width="30px" height="30px">
        </div>

    </footer>

</body>

</html>