<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Estante Web</title>
    <link rel="stylesheet" href="../css/style.css">

</head>

<body>
    <header>
        <div class="logo-busca">
            <h1>Estante Web</h1>

            <form action="">
                <input type="search" name="busca" id="busca"style="width: 200px; height: 25px;">
            </form>

        </div>

    </header>
    <nav>
        <a href="../index.html">inicio</a>
        <a href="quem_somos.html">Quem somos</a>
        <a href="contato.html">Contato</a>
        <a href="favoritos.html" class="alinhar">
            <img src="../imgs/star.png.png" alt="" width="20px" height="20px">
            Favoritos
        </a>
        <a href="login.html">Login</a>
    </nav>

    <main class="favoritos">
        <div class="container">

            <div class="conteiner2"><img src="../imgs/seta.svg" alt="" width="30px" height="30px">Didáticos
            </div>
            <div class="conteiner2"><img src="../imgs/seta.svg" alt="" width="30px" height="30px">Religiosos
            </div>
            <div class="conteiner2"><img src="../imgs/seta.svg" alt="" width="30px" height="30px">Romances
            </div>
            <div class="conteiner2"><img src="../imgs/seta.svg" alt="" width="30px" height="30px">Ficção
            </div>
            <div class="conteiner2"><img src="../imgs/seta.svg" alt="" width="30px" height="30px">Suspense e mistério
            </div>
            <div class="conteiner2"><img src="../imgs/seta.svg" alt="" width="30px" height="30px">Infantil
            </div>
            <div class="conteiner2"><img src="../imgs/seta.svg" alt="" width="30px" height="30px">Terror
            </div>
            <div class="conteiner2"><img src="../imgs/seta.svg" alt="" width="30px" height="30px">Aventura
            </div>



        </div>

        <div class="container3"> Não há categorias adicionadas</div>

    </main>
    <footer>
        <div id="copy">
            &copy; Estante web
        </div>
        <div>
            todos os direitos reservados
        </div>
        <div>
            <img src="../imgs/facebook.svg" alt="" width="30px" height="30px">
            <img src="../imgs/instagram.svg" alt="" width="30px" height="30px">
        </div>

    </footer>

</body>

</html>