<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Estante Web</title>
    <link rel="stylesheet" href="../css/style.css">

</head>

<body>
    <header>
        <div class="logo-busca">
            <h1>Estante Web</h1>

            <form action="">
                <input type="search" name="busca" id="busca">
            </form>

        </div>

    </header>
    <nav>
        <a href="../index.html">inicio</a>
        <a href="quem_somos.html">Quem somos</a>
        <a href="contato.html">Contato</a>
        <a href="favoritos.html" class="alinhar">
            <img src="../imgs/star.png.png" alt="" width="20px" height="20px">
            Favoritos
        </a>
        <a href="login.html">Login</a>
    </nav>

    <main class="gerenciar_categorias">
        <div class="categorias">
            <h2 class="box"> <img src="../imgs/setting.svg" alt="" width="40px">Gerenciar Categorias 
                <button type="submit" value="Adicionar">Adicionar</button></h2>

            <div class="categorias2">Categorias # 1
                <img src="../imgs/editar.svg" alt="" width="30px" height="30px"> <img src="../imgs/lixeira.svg" alt="" width="30px" height="30px"> </div>
            <div class="categorias2">Categorias # 2</div>
            <div class="categorias2">Categorias # 3</div>
            <div  class="categorias2">Categorias # 4</div>
            <div  class="categorias2">Categorias # 5</div>
        </div>
    </main>
    <footer>
        <div id="copy">
            &copy; Estante web
        </div>
        <div>
            todos os direitos reservados
        </div>
        <div>
            <img src="../imgs/facebook.svg" alt="" width="30px" height="30px">
            <img src="../imgs/instagram.svg" alt="" width="30px" height="30px">
        </div>

    </footer>

</body>

</html>